@font-face {
    font-family: myFirstFont;
    src: url(../fonts/ACaslonPro-);
}
@font-face {
    font-family: acpBold;
    src: url(../fonts/ACaslonPro-Bold.otf);
} 

.title-a{    
    color:blue !important;    
}

#navBar2{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background-color:rgb(190,2,17)!important;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
}

#navBar1{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;    
    padding-left: 60px;
    padding-right: 60px;
}

p{
    font-family: acpBold;    
    margin-bottom: 0px;        
}

a{
    font-family: myFirstFont;
}
