.video-cont{
  margin-top: 30px;  
}

.slider-cont{
  margin-top: 30px;    
}


.slider{
  height: 34vw;
  overflow-y: auto;	
}

.video-img{
  width: 100%;
}

img{		
  width: 100%;
}

.img-sld{
	align-self: center;
width: 100%;
}

h6{
	font-size: 15px;
}



