.mark{
	background: #C8C8C8; 
}

.video-cont{  
  margin-top: 30px;  
}

.slider-cont{  
  margin-top: 30px;    
}


.slider{
  height: 34vw;
  overflow-y: auto;	
}

.video-img{
  width: 100%;
}

img{		
  width: 100%;
}

.img-sld{
	align-self: center;	
	width: 100%;	
}

h6{
	font-size: 1.1vw;
}

.slick-next:before{
	color: black;
}

.slick-prev:before{
	color: black;
}

.slide-elements{
	text-align: center;
}

