/* Main-card */
.main-card{
  margin-top: 2vh;
  border: solid grey;
  border-radius: 2%;
}

.content-title{
  background: #5c6bc0;
  color: white;
}

.vid-sect{
  background: #8e99f3;
  color: white;
}

.vid-btn{
  background:#ffffff;
}

.doc-sect{
  background: #8e99f3;
  color: white;
}

.doc-btn{
  background: #ffffff;
}
