.row-vid{
  margin-top: 30px;
}

.title{
  text-align: center;
}

.card {
  text-align: center;
  height: 20vh;
  padding-top: 1vh
}

.card {
  margin-top: 30px;
  box-shadow: 0 8px 16px 4px rgba(0,0,0,0.2);
  transition: 0.6s;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.image-p{
  max-width:100%;
  height:18vh;
  margin:auto;
}
