.title-container{
  margin-top: 14px;
  margin-bottom: 14px;
}

.video-img{
  width: 100%;
}

.section{
  margin-top: 20px;
  
  height: 15vh;
  overflow: hidden;
}

.img-bg{
  opacity: .5;
  width: 100%;
}
