.title-container{
  height: 30vh;
}

#title{
  margin-top: 5vh;
}

#title h1{
  font-size: 70px;
}

.slider{
  margin-top: 5vh;
  height: 40vh;
}

.card {
  text-align: center;
  height: 25vh;
  padding-top: 1vh
}

.card {
  margin-top: 30px;
  box-shadow: 0 8px 16px 4px rgba(0,0,0,0.2);
  transition: 0.6s;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.content{
  margin: auto;
}

.color{
  height: 15vh;
  background-color: #757de8;
}

h4 {
  font-size: 2.5vw;
}
