.title-container{
  margin-top: 14px;
  text-align: center;
}

.video-img{
  width: 100%;
}

.section{
  height: 70vh;
  padding: 15px;
}

.section:hover .img-cont{
  transform: scale(1.05);
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 7px 7px 3px #888888;
}

.img-bg{  
  height: 90%;
  width: 100%;
} 

.img-cont{
  box-shadow: 5px 5px 3px #888888;
  height: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 25px;
}

h4{
  text-align: center;
}

a{
  color: black;  

}



