@import url("news.css");
@import url("rvslider.css");
html {
    font-family: "ACaslonPro-regular" !important;
}
body {
 background-color: #FFF;
 background-position: 50% 0;
-ms-background-size: cover;
-o-background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
height: 100%;
position: relative;
}
body#tarot-page {
  margin: 2.5%;
      -webkit-font-smoothing: antialiased;
      display: block;
}
#Tarot {
  max-width: 1700px;
}
#tarotContainer {
  min-height: 100vh;
  z-index: -1;
}
.nav-content {
  padding: 0;
  margin: 0;
  display: block;
  height: auto;
}
.nav-containier{
  font-size: 1rem;
line-height: 1.5;
position: relative;
padding: 0;

}
.nav-containier a {
  position: relative;
  display: inline-block;
  padding-right: 1.5px;
  padding-left: 1.5px;
  padding-top: .05em;
  padding-bottom: .05em;
  margin: 0 7.45px;
}
.nav-content a:hover {
  background-color: #f19f30 !important;
}
#movil {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: background-color .45s ease;
  -moz-transition: background-color .45s ease;
  -o-transition: background-color .45s ease;
  transition: background-color .45s ease;
}
#metamundo {
  float: right;
  clear: both;
  margin-right: 0 !important;
  background: #17692a !important;
}
#time {
  color: #962a20;
    font-weight: 600;

}
#time .timer {
  position: relative;
  font-size: 35px;
  display: inline-block;
  padding: .65em .58em;
  padding-top: 0;
  margin: .2em;
  width: 100px;
  align-items: center;
  justify-content: center;padding-top: 1em;
  height: 120px;
}

#time .label {
  font-size: 18px;
  position: absolute;
  margin-left: .5em;
  left: 0;
  bottom: 0;
}
.description {
  font-size: 22px;
}
.description-black {
  font-size: 26px;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 1em;
}

span#ldia {
  left: 20% !important;
}
span#lhora {
  left: 16% !important;
}


#navigation {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: -85%;
  -webkit-transition: left .5s ease;
  -moz-transition: left .5s ease;
  -o-transition: left .5s ease;
  transition: left .5s ease;
  z-index: 1000;
  /*background-color: rgba(51,127,137, 0.8);*/
  background-color: #fff;
  height: 100%;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 85%; }
  #navigation .site-title {
    margin: 0 !important;
    margin-top: 1.5em !important;
    font-size: 3em !important;
  }
  #navigation .title-caps {
    font-size: 1.8em !important;
  }
  #navigation > a {
    display: block;
    align-items: center;
    font-size: 3.2em;
    margin: 20px;
    padding: 15px 3em;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #92b541;
   }
    #navigation .share {
      margin-top: 4em;
      margin-bottom: 4em;
    }
    #navigation .share a {
      font-size: 5.5em;
      display: inline-grid;
      margin: 0 auto;
      padding: 10px .3em;
    }
    .share a:first-child {
      margin-left: 1.5em !important;
    }
    #navigation a i#Facebook {
      color: #3b5998; }
  #navigation h5 {
    color: #FFF;
    margin: 10px; }
  #navigation img {
    margin-bottom: .5rem; }

  #close {
    font-size: 3em !important;
    color: #9f010f;
    position: absolute;
    right: 1em;
    top: .35em;
  }

#Tarot {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0 !important;
}
#form-tarot {
  display: none;
  max-width: 100%;
}
#form-tarot > div {
  margin: 0 auto;
  margin-top: 63em;
}
#form-tarot > div h4 {
  color: #919191;
  padding-top: 3rem;
}
p {
  font-family: "ACaslonPro-regular";
}
h1,h2,h3,h4,h5,h6{
  color: #37b4ee;
  font-weight: 600;
  font-family: "ACaslonPro-semibold";
}
#tarot-cards {
  max-width: 500px;
  position: absolute;
  top: 0px;
  left: 4%;
}

#tarot-cards div {
  position: absolute;
  top: 28em;
  left: 100px;
    background-image: url("../images/Tarot-Cards/img24.jpg");
    border: 3px solid #967996;
border-top-left-radius: 10px;
    background-size: 99px;
    cursor: pointer;
    height: 132px;
    width: 90px;
    background-position: 50% 0;
-ms-background-size: cover;
-o-background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
-webkit-transition: left 3s ease;
-moz-transition: left 3s ease;
-o-transition: left 3s ease;
transition: left 3s ease;
}

.muevetee{
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    }

.destino {
    border: none!important
}
.Reintentar{
  color: #000;
    display: none;
    visibility: hidden;
}

.mano{
  margin-top: 3.35em;
  cursor: pointer;
}
img:after{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.card-description, #tarot-cards  h1 {
  display: none;
  position: absolute;
  margin-top: 27em;
  text-align: justify;
  padding-top: 1em;
  color: #000;
  font-size: 1em;
  left: -28%;
  width: 350px;
  cursor: default;
  -webkit-transition: display 4s ease;
  -moz-transition: display 4s ease;
  -o-transition: display 4s ease;
  transition: display 4s ease;
}
.muestra > p, .muestra > h1 {
  display: block !important;
}
#tarot-cards h1 {
  text-transform: uppercase;
  margin-top: 16.5em;
  font-weight: 700;
  font-size: 1.5em;
}
.site-title {
    font-size: 25px;
    line-height: 40px;
    margin-left: 25px;
    padding: 3px;
    padding-bottom: 15px;
    word-spacing: 10px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.site-title a{
  color: #000000;
  list-style: none;
  text-decoration: none;
}
.site-title a:hover,
.site-title a:focus,
.site-title a:active {
  color: #000000;
}
.site-title {
  font-size: 11pt;
  line-height: 20pt;
  font-weight: 600;
  font-family: 'Adobe Caslon Pro';
  padding: 0;
}
.title-caps {
  font-size: 35px;
}
/*Form*/
#form-consulta, #turno {
display: none;
}

/*sesion*/

body#sesion {
	font-family: "ACaslonPro-regular";
	background: #eaeaea;
	color: #999;
	font: 100%/1.5em sans-serif;
	margin: 0;
}
#inicio {
	height: 100vh;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background-image 2s ease-out;
  -moz-transition: background-image 2s ease-out;
  -o-transition: background-image 2s ease-out;
  transition: background-image 2s ease-out;
}
#inicio:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  /*background-color: rgba(0, 0, 0, 0.5);*/
}
#inicio > #registrate{
  z-index: 10;
  color: #474747;
}

#inicio h1 { margin: 0; }

#inicio a {
	color: #999;
	text-decoration: none;
}

#inicio a:hover {
  color: #1dabb8;
}

fieldset {
	border: none;
	margin: 0;
}

#inicio input {
	font-family: inherit;
	font-size: inherit;
	margin: 0;
  margin-top: 1em;
	outline: none;
	-webkit-appearance: none;
}

input[type="submit"] { cursor: pointer; }

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after { clear: both; }

/* ---------- LOGIN-FORM ---------- */

#login-form {
	width: 400px;
  margin-top: 3em;
	text-align: center;
	/*box-shadow:0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);*/
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 20;
}

#login-form h1 {
	background-color: #92b541;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 18px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

#login-form fieldset {
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	position: relative;
}

#login-form fieldset:before {
	background-color: #fff;
	content: "";
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
}

#login-form input {
	font-size: 14px;
}

#login-form input[type="text"],
#login-form input[type="password"],
#login-form input[type="email"],
 {
	width: 80% !important;
	display: block;
	margin: 0 auto;
	border: 1px solid #dcdcdc !important;
	padding: 12px 10px;
	width: 238px;

}

#login-form input[type="text"] {
	border-radius: 3px 3px 0 0;

}

#login-form input[type="password"] {
	border-top: none;
  border-left: none;
  border-right: none;
	border-radius: 0px 0px 3px 3px;
}

#login-form input[type="submit"] {
	background: #9f010f;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	padding: 12px 20px;
	position: absolute;
	right: 2em;
}
#login-form #reg, #login-form input[type="submit"]{
  position: relative;
  right: 0;
  text-align: center;
}

#login-form input[type="submit"]:hover {
	background: #9f010fd6;
}

#login-form footer {
	font-size: 12px;
	margin-top: 16px;
}
/*#tarotFooter {
  position: absolute;
  bottom: 0;
}*/
.info {
	background: #e5e5e5;
	border-radius: 50%;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin: 0 10px 0 0;
	text-align: center;
	width: 20px;
}


@media screen and (min-width: 300px) and (max-width: 1023px){
  body#tarot-page {
    margin-top: 5%;
  }
  #tarot-cards {
    max-width: 500px;
    position: absolute;
    left: -1.65%;
    top: -28px;
  }
  #login-form {
    width: 80%;
    margin-top: 7em;
  }
  .card-description, #tarot-cards h1 {
    left: -12%;
    width: 265px;
  }
  #form-tarot {
    margin-top: 63em;
  }
  .nav-content {
    display: none;
  }
  .site-branding {
        margin-top: 3.75rem !important;
  }
  .site-title {
    font-size: 29pt !important;
    word-spacing: 0 !important;
    margin-top: .35em !important;

  }
  .title-caps {
    font-size: 39pt !important;
  }
  #social {
    display: none !important;
  }
  .brand-logo {
    max-height: 78px;
    width: auto;
    margin: 3px 0;
    margin-left: -.55em;
    margin-right: 3.35em;
  }
  .menu-boton {
    position: relative;
    z-index: 1000;
    margin: 0;
    padding: 0;
    margin-left: -.35em;
    margin-right: -.3em;
    border: none;
    text-indent: 2em;
    font-size: 3.1em;
    color: #000;
    background: transparent;
  }
}
@media screen and (min-width: 377px) and (max-width: 412px) {
  #tarot-cards {
    max-width: 500px;
    position: absolute;
    left: -2.65%;
    top: -28px;
  }
}
@media screen and (min-width: 1024px) {
  #tarot-cards {
    max-width: 500px;
    position: absolute;
    left: -1.6%;
  }
  .nav-containier a {
    font-size: 22px;
  }
  .card-description, #tarot-cards h1 {
    left: -12%;
    width: 280px;
  }
  .brand-logo {
    display: none;
  }
  .menu-boton {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-title {
      font-size: 25px;
      line-height: 40px;
      margin: 0;
      margin-left: 25px;
      padding: 3px;
      padding-bottom: 15px;
      word-spacing: 10px;
  }
}
@media screen and (min-width: 1200px) {
  #tarot-cards {
    max-width: 500px;
    position: absolute;

    left: 4%;
  }
  .nav-containier a {
    font-size: 28px;
  }
  .card-description, #tarot-cards h1 {
    left: -28%;
    width: 340px;
  }
}
@media screen and (min-width: 1367px) {
  #tarot-cards {
    left: calc(3.65% + 25px);
 }
 .nav-containier a {
   font-size: 30px;
 }
}
@media screen and (min-width: 1500px) {
  #tarot-cards {
    left: calc(3.35% + 25px);
 }
}
@media screen and (min-width: 2000px) {

  #Tarot {
    max-width: 2500px;

  }
  .nav-containier{
line-height: 1.5;
position: relative;
  }
  .nav-containier a {
    position: relative;
    display: inline-block;
    color: #FFF !important;
padding: 5px;
margin-left: .5em;
margin-right: 1px;
font-size: 38pt;
text-decoration: none !important;
background: none !important;
padding: 10px 15px !important;
  }
  #tarot-cards {
    left: calc(10.9% + 30px);
    top: -31px;

 }
 #return i {
   margin-right: .5em;
 }
 #tarot-cards div {
   width: 130px;
   height: 172px;
   top: 32.5em;
 }

 .card-description, #tarot-cards h1 {
   left: -71%;
   width: 520px;
 }
 #form-tarot {
   margin-top: 50em;
 }
 .site-title {
   font-size: 50px;
  line-height: 65px;

  margin: 0;
  margin-left: 30px;
  font-weight: 600;
  padding: 5px;
  padding-bottom: 20px;
  word-spacing: 10px;
      font-family: "ACaslon-Pro-Bold" !important;
}
.title-caps {
    font-size: 65px
  }
  .mano {
    margin-top: 5em;
  }
}
#social {
    display: inline-flex;
    position: relative;

  }
  #social ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #social li {
    display: inline-flex;
    font-size: 17pt;
    margin: 0 5px;
  }

.site-branding {
    justify-content: space-between;
}
.site-branding {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#social a:hover {
  color: #154FCF !important;
  cursor: pointer !important;
}

.fa-instagram{
  color: #D13EB6 !important;
}
.fab:hover {
  cursor: pointer !important;
}
.fa-facebook-square{
  color: 	#3b5998 !important;
}
.fa-twitter {
  color: #00aced !important;
}
.fa-youtube {
  color: #c4302b;
}

/*mostrar form o tarot*/
#boton, #boton2 {
  display: block;
  margin: 0 auto;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#resultado {
  display: block;
  height: 0px;
  position: relative;
	box-shadow: 10px 10px 3px #D8D8D8;
	transition: height .4s;
}
#card_turno {
  padding: 15px 10px;
  background-color: #28a745;
  color: #FFF !important;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: 600;
}

#dock-container {
  position: fixed;
  top: 45%;
}
#dock ul {
  list-style: none;
  padding:0;
  margin: .5em;
}

#dock li img {
  width: 68px;
  height: 68px;
  -webkit-box-reflect: below 2px
		    -webkit-gradient(linear, left top, left bottom, from(transparent),
		    color-stop(0.7, transparent), to(rgba(255,255,255,.5)));
  -webkit-transition: all 0.3s;
  -webkit-transform-origin: 50% 100%;
}

#dock li:hover img {
  -webkit-transform: scale(2.15);
  margin: 0 2em;
}

#dock li:hover + li img,
#dock li.prev img {
  -webkit-transform: scale(1.4);
  margin: 0 1.5em;
}
@media screen and (min-width: 2000px) {
  #dock li img {
    width: 120px;
    height: 120px;
  }
}
#popup {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup:target {
   visibility: visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.popup-contenedor {
   position: relative;
   margin:0 auto;
   width:50%;
}
span#popup-cerrar {
   position: absolute;
   top:3px;
   padding: .5em 1em;
   right:3px;
   background-color: #9f010f;
   color:#fff;
}

/*  height: 100%;

  background:
    linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}*/

/*form styles*/
#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.54);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  padding: 0 !important;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
    cursor: pointer;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 12px;
  color: #333;
  background: white;
  border-radius: 50%;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #27AE60;
  color: white;
}
#first {
  opacity: .65;
}
