.row-vid{
  margin: 0px;
  padding-top: 10px;
  padding-left: 10px;
}

.slide-elements{
  margin: auto;
}

.content{
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

h5{
  font-size: 1.5vh;
  text-align: center;
}

.video-img{
  width: 100%;
}
