{% extends "base/nav.html" %}
{% load static %}
{% block nav %}
{% endblock nav %}
{% block link %}    
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock link %}
{% block content %}
  <div class="card login-card">            
    <form class="form-signin" method="post">
      {% csrf_token %}
      <label for="id_username">Nombre de usuario:</label>
      <br>
      <input class="form-control" type="text" name="username" autofocus maxlength="254" required id="id_username" />          
      <br>
      <label for="id_password">Contraseña:</label>
      <br>      
      <input class="form-control" type="password" name="password" required id="id_password"/>
      <br>
      <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Entrar </button>
    </form>
    <a href="#" class="forgot-password">¿Olvidaste tu Contraseña?</a>
  </div>
    
{% endblock content %}