
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock link %}
{% block content %}
<body id="sesion">
  <div class="container-fluid" >
    <div class="row justify-content-center" id="inicio">

      <div class="align-self-center text-center" id="login-form">
        <h1>Pago</h1>
        <div id="paypal-button-container">

        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}
{% block javascript %}
<script src="{% static 'javascript/jquery-3.3.1.js'%}"></script>
  <script>
    jQuery.noConflict();
    (function($) {
    var contenedor = $('#inicio');

    contenedor.css({'background-image':'url(../static/images/metamundo/01.jpg)'});

    var img1 = loadImage('/static/images/metamundo/01.jpg');
    var img2 = loadImage('/static/images/metamundo/02.jpg');
    var img3 = loadImage('/static/images/metamundo/03.jpg');
    var img4 = loadImage('/static/images/metamundo/04.jpg');
    var img5 = loadImage('/static/images/metamundo/05.jpg');

    var imagenes = [img1,img2,img3,img4,img5];
    changeBG();

    function loadImage(url){

      var newImg = new Image;
      newImg.src = url;
      return newImg;
    }

    function changeBG(){
      var direccion = imagenes[Math.floor(Math.random() * imagenes.length)].src;
      console.log(direccion);
      contenedor.css({'background-image': direccion});
      contenedor.fadeIn();
      console.log("iteracion");
      setTimeout(changeBG,2000);
    };

    })(jQuery);
  </script>
  <script type="text/javascript">
    jQuery.noConflict();
    (function($) {

      var $form = $("#msform");
      var current_fs = 0;
      var animating = false;
      function gotoStep(step) {
          if (animating || step === current_fs) {
              return;
          }

          animating = true;
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="{%static 'javascript/effects.js'%}"></script>
<script>

    // Render the PayPal button

    paypal.Button.render({


        // Set your environment

        env: 'sandbox', // sandbox | production

        // Specify the style of the button

        style: {
            label: 'buynow',
            fundingicons: true, // optional
            branding: true, // optional
            size:  'small', // small | medium | large | responsive
            shape: 'rect',   // pill | rect
            color: 'gold'   // gold | blue | silve | black
        },

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create

        client: {
            sandbox:    'AWlLSrQ0eqY157mxfkkhD-1BS5QkW04wNgOg46w2kCqt1tqbILMKMF3toU45SQbG5e3xnljKeNifex9l',
            production: '<insert production client id>'
        },

        // Wait for the PayPal button to be clicked

        payment: function(data, actions) {
            return actions.payment.create({
                transactions: [
                    {
                        amount: { total: '1.00', currency: 'MXN' }
                    }
                ]
            });
        },

        // Wait for the payment to be authorized by the customer

        onAuthorize: function(data, actions) {
            return actions.payment.execute().then(function() {
                window.alert('Payment Complete!');
            });
        }

    }, '#paypal-button-container');

</script>

{% endblock javascript %}
