
{% load static %}
{% block content %}
<body id="sesion">
  <div class="container-fluid" >
    <div class="row justify-content-center" id="inicio">

      <div class="align-self-center text-center" id="login-form">
        <h1>Pago</h1>
        <div id="paypal-button-container">

        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}

{% block javascript %}
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="{% static 'javascript/jquery-3.3.1.js'%}"></script>
<script src="{%static 'javascript/effects.js'%}"></script>
<script>

    // Render the PayPal button

    paypal.Button.render({


        // Set your environment

        env: 'sandbox', // sandbox | production

        // Specify the style of the button

        style: {
            label: 'buynow',
            fundingicons: true, // optional
            branding: true, // optional
            size:  'small', // small | medium | large | responsive
            shape: 'rect',   // pill | rect
            color: 'gold'   // gold | blue | silve | black
        },

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create

        client: {
            sandbox:    'AWlLSrQ0eqY157mxfkkhD-1BS5QkW04wNgOg46w2kCqt1tqbILMKMF3toU45SQbG5e3xnljKeNifex9l',
            production: '<insert production client id>'
        },

        // Wait for the PayPal button to be clicked

        payment: function(data, actions) {
            return actions.payment.create({
                transactions: [
                    {
                        amount: { total: '1.00', currency: 'MXN' }
                    }
                ]
            });
        },

        // Wait for the payment to be authorized by the customer

        onAuthorize: function(data, actions) {
            return actions.payment.execute().then(function() {
                window.alert('Payment Complete!');
            });
        }

    }, '#paypal-button-container');

</script>

{% endblock javascript %}
