{% extends "base/nav.html" %}
{% load static %}
{% block nav %}
{% endblock nav %}
{% block link %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% endblock link %}
{% block content %}
<body id="sesion">
  <div class="container-fluid" >
    <div class="row justify-content-center" id="inicio">
        <div class="align-self-center text-center" id="login-form">
          <!--<img src="{% static 'images/avatar_2x.png' %}" class="profile-img-card rounded-circle mt-3 mb-3">-->
          <h1>Crear cuenta</h1>
          <fieldset>
            <form action="" method="post">
              {% csrf_token %}
                {{ form.username }}
                {{ form.email }}
                {{ form.password1 }}
                {{ form.password2 }}
              <input type="submit" id="reg" value="Registrarse">
              <footer class="clearfix">
              </footer>
            </form>
          </fieldset>
        </div> <!-- end login-form -->
        <div id="registrate" class="col-12 text-center">
          <p class="h5">Si ya tienes cuenta <a href="{% url 'register:login' %}" class="text-primary">inicia sesión </a></p>
          <p class="h5 text-success">{{message}}</p>
        </div>
      </div>

  </div>
  <!--font awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="{%static 'javascript/effects.js'%}"></script>
</body>
{% endblock content %}
