{% extends 'base/nav.html' %}
{% load static %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/blocks.css' %}">	
{% endblock link %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="video-cont col-sm-12 col-md-9">
				<h4><b>{{ videos.0.name }}</b></h4>
				<video controls width="100%">
					<source src="{{videos.0.link}}" type="video/mp4">
				</video>
			</div>
			<div class="slider-cont col-md-3">
				<h4 id="title-videos">Videos</h4>
				<div class="slider">
					<ul class="list-group">
						{% for vid in videos %}
							<li class="list-group-item">
								<div id="{% url "catalog:vid" vid.pk %}" class="content">
									<h6>{{ vid.name }}</h6>
									<img src="{{vid.image}}">
								</div>			
							</li>						
						{% endfor%}									
					</ul>					
				</div>
			</div>
		</div>		
		<h3>Imagenes</h3>
		<div class="row">									
			{% for doc in docs %}				
            	{% if doc.kind == 'IMG' %}
              		<div id="{% url "catalog:file" doc.pk %}" class="img col-md-2">              			
                		<img class="img-sld" src="{{doc.link}}" alt="">
                		<h6>{{ doc.name }}</h6>
              		</div>              		
            	{% endif %}
            	{% if doc.length == 0 %}
            	<h3>No Hay Imagenes</h3>
            	{% endif %}

            {% endfor%}
        </div>
        <h3>Documentos</h3>
        <div class="row">
            {% for doc in docs %}				
            	{% if doc.kind == 'PDF' %}
              		<div id="{% url "catalog:file" doc.pk %}" class="img col-md-2">
                		<img class="img-sld" src="{% static 'images/pdf_logo.png' %}" alt="">
                		<h6>{{ doc.name }}</h6>
              		</div>
            	{% endif %}
            {% endfor%}
        	
        </div>
        <h3>Tareas</h3>
        <div class="row">
            {% for doc in docs %}				
            	{% if doc.kind == 'WRD' %}
              		<div id="{% url "catalog:file" doc.pk %}" class="img col-md-2">
                		<img class="img-sld" src="{% static 'images/hw_logo.png' %}" alt="">
                		<h6>{{ doc.name }}</h6>
              		</div>
            	{% endif %}          		
            {% endfor%}        	
        </div>
	</div>
{% endblock content %}
{% block javascript %}
	<script type="text/javascript" charset="utf-8" defer>
		$(document).ready(function() {
			
		});
	</script>
{% endblock javascript %}