{% extends "base/nav.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/templates/block.css' %}">
{% endblock link %}

{% block content %}
<div class="container cont">  
  <div class="row">
    <div class="col-12 col-md-6">      
      <div class="cCategory">        
        {% if selCat.title == "Introduccion" %}
        <img class="image" src="{% static 'images/intro_pic2.jpg' %}" alt="" width="100%">          
        {% elif selCat.title == "Tarot"%}
        <img class="image" src="{% static 'images/tarot_pic2.jpg' %}" alt="">
        {% elif selCat.title == "Metagenealogia"%}
        <img class="image" src="{% static 'images/meta_pic.jpg' %}" alt="">
        {% elif selCat.title == "Psicochamanismo"%}
        <img class="image" src="{% static 'images/psico_pic2.jpg' %}" alt="">
        {% endif %} 
        <div class="message">
          <div class="text">{{selCat.title}}</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-12">
          <a href="{% url 'catalog:videos' selCat.title 0 %}" >
            <div class="cVideos">
              <img class="img_a" src="{% static 'images/vid_bg.jpg' %}" alt="No img">
              <div class="overlay_a">
                <div class="text">Videos</div>
              </div>
            </div>
          </a>
        </div>        
        <div class="col-12">
          <a href="{% url 'catalog:images' selCat.title %}">
            <div class="cImg">
              <img class="img_b" src="{% static 'images/images_bg.jpg' %}" alt="No img">
              <div class="overlay_b">
                <div class="text">Imagenes</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-12">
          <a href="{% url 'catalog:docs' selCat.title %}">
            <div class="cDoc">
              <img class="img_c" src="{% static 'images/doc_bg.jpg' %}" alt="No img">
              <div class="overlay_c">
                <div class="text">Documentos</div>
              </div>
            </div>
          </a>
        </div>
      </div>    
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
  

</script>
{% endblock javascript %}
