{% extends "base/nav.html" %}
{%load static%}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cat.css' %}">
{% endblock link %}

{% block content %}
<div class="container-fluid container-main">
  <div class="row">
    {% for cat in category %}
      <div class="col-md-3">
        <div class="card main-card ">
          <div class="container">
            <div class="row align-items-center">
              <div class="card col-md-12 content-title">
                <h1><b>{{cat.name}}</b></h4>
                  <h5>Alguna Descripcion Util</h5>
                </div>
              </div>
              <div class="row">
                <div class="card col-md-12 vid-btn" id="{{cat.name}}">
                  <h1 style="font-size:75px;" class="material-icons">video_library</h1>
                  <h4>Videos</h4>
                </div>
              </div>
              <div class="row">
                <div class="card col-md-12 doc-btn">
                  <h1 style="font-size:75px;" class="material-icons">insert_drive_file</h1>
                  <h4>Documentos</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" defer>
$(document).ready(function() {

  $(".vid-btn").on("click",function(e){
    var name = $(this).attr('id');
    var url_mask = "{% url 'catalog:block' 'var' %}".replace(/var/, name);
    window.location = (url_mask);
  });

  $(".doc-btn").on("click",function(e){
    var name = $(this).attr('id');
    var url_mask = "{% url 'catalog:block' 'var' %}".replace(/var/, name);
    window.location = (url_mask);
  });

});
</script>

{% endblock javascript %}
