{% extends "base/nav.html" %} 
{% load static %} 
{% block link %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/cat.css' %}">
{% endblock link %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      {% for cat in category %}
        <div class="col-xl-3 col-md-6 col-sm-6 main-card">
          <div id="{{cat.name}}">
            <div class="content-title">
              <h2>{{cat.title}}</h2>
            </div>
            <div class="vid-title">
              Videos
            </div>
            <div class="vid-sect">
              <ul class="list-group">
                {% for vid in videos %}
                  {% if vid.category == cat %}
                    <li id="{% url "catalog:vid" vid.pk %}" class="list-group-item list-group-item-action vid-ele">
                      {{vid.name}}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div class="doc-title">
              Documentos
            </div>
            <div class="doc-sect">
              <ul class="list-group">
                {% for doc in docs %}
                  {% if doc.category == cat %}
                    <li class="list-group-item list-group-item-action doc-ele">
                      {{doc.name}}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
{% block javascript %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" defer>
  $(document).ready(function() {

    $(".vid-ele").on("click",function(e){
      var pk = $(this).attr('id');
      window.location = pk
    });

  });
  </script>
{% endblock javascript %}
