{% extends "base/nav.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/documents.css' %}">
{% endblock link%}

{% block content%}
<div class="container container-docs">
    {% for cat in category %}
    <div class="row-cat">
      <div class="row row-doc">
        <div class="title">
          <h4>{{cat.name}}:  {{cat.title}}</h4>
        </div>
      </div>
      <div class="row slide-elements align-items-center">
        {% for doc in docs %}
        {% if doc.category == cat %}
        <div class="element col-md-12">
          <div id="{% url "catalog:docs" doc.pk %}" class="container content">
            <h3>{{ doc.name }}</h3>
            <img src="{{doc.link}}" alt="">
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
</div>
{%endblock content%}

{% block javascript %}
<script type="text/javascript" charset="utf-8" defer>

$(document).ready(function() {

  $(".slide-elements").slick({
    dots: true,
    infinite: true,
    slidesToShow: 2,
    slidesToScroll: 1,
    autoplay: true,
  });

  $(".b1").on("longclick",function(e){
    var pk = $(this).children('.content').attr('id');
    window.location = pk
  });


});
</script>


{% endblock javascript %}
