{% extends "base/nav.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/files.css' %}">
{% endblock link%}

{% block content%}
<div class="container-fluid">
  <div class="row">
    {% for cat in category %}
      <div class="line col-md-12">        
        <div class="title">
          <h4>{{cat.title}}</h4>
        </div>        
        <div class="row slide-elements align-items-center">
          {% for doc in docs %}
            {% if doc.category == cat %}
              {% if doc.kind == 'IMG' %}
                <div id="{% url "catalog:file" doc.pk %}" class="content col-md-12 element {{doc.kind}}">
                  <img class="img-sld" src="{{doc.link}}" alt="">
                  <h3>{{ doc.name }}</h3>
                </div>
              {% endif %}
              {% if doc.kind == 'PDF' %}
                <div id="{% url "catalog:file" doc.pk %}" class="content col-md-12 element {{doc.kind}}">
                  <img class="img-sld" src="{% static 'images/pdf_logo.png' %}" alt="">
                  <h3>{{ doc.name }}</h3>
                </div>
              {% endif %}
              {% if doc.kind == 'WRD' %}
                <div id="{% url "catalog:file" doc.pk %}" class="content col-md-12 element {{doc.kind}}">
                  <img class="img-sld" src="{% static 'images/hw_logo.png' %}" alt="">
                  <h3>{{ doc.name }}</h3>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}    
  </div>
</div>
{%endblock content%}

{% block javascript %}
<script type="text/javascript" charset="utf-8" defer>

$(document).ready(function() {

  $('.carousel').carousel()

  $(".slide-elements").slick({
    slidesToShow: 8,
    slidesToScroll: 1,   
    focusOnSelect: true,     
    responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 6,
        slidesToScroll: 1,        
        focusOnSelect: true,     
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 1,
        focusOnSelect: true,     
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
        focusOnSelect: true,     
      }
    }    
  ]
  }); 

  $(".img-sld").on("click",function(e){
    var pk = $(this).parent().attr('id');
    window.location = pk
  });


});
</script>


{% endblock javascript %}
