{% extends "base/nav.html" %}
{% load static %}
{% block link %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock link %}
{% block content %}  
  <div class="container-fluid cont">
    <div class="row">
      <div class="section col-lg-3 col-md-6 col-sm-6">
        <div class="img-cont" style="background-color:rgb(146,181,65);">
          <a href="{% url 'catalog:block' category.0.title %}">
            <img class="img-bg" src="{% static 'images/intro_pic2.jpg' %}" alt="" style="width: 100%;">
            <div class="title_block">
              <h3>Introduccion</h3>
            </div>            
          </a>
        </div>
      </div>
      <div class="section col-lg-3 col-md-6 col-sm-6">
        <div class="img-cont" style="background-color:rgb(211,155,0);">
          <a href="{% url 'catalog:block' category.1.title %}">
            <img class="img-bg" src="{% static 'images/tarot_pic2.jpg' %}" alt="">
            <div class="title_block">
              <h3>Tarot</h3>            
            </div>            
          </a>
        </div>
      </div>
      <div class="section col-lg-3 col-md-6 col-sm-6">
        <div class="img-cont" style="background-color:rgb(0,41,131);">
          <a href="{% url 'catalog:block' category.2.title %}">
            <img class="img-bg" src="{% static 'images/meta_pic.jpg' %}" alt="">
            <div class="title_block">
              <h3>Metagenealogia</h3>            
            </div>
          </a>
        </div>
      </div>
      <div class="section col-lg-3 col-md-6 col-sm-6">
        <div class="img-cont" style="background-color:rgb(190,2,17);">
          <a href="{% url 'catalog:block' category.3.title %}">
            <img class="img-bg" src="{% static 'images/psico_pic2.jpg' %}" alt="">
            <div class="title_block">
              <h3>Psicomagia</h3>            
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
{% block javascript %}
<script type="text/javascript">
  $(document).on('ready', function () {
    $(".regular").slick({
      
    });

    $(".b1").on("click",function(e){
      var pk = $(this).children('.content').attr('id');
      window.location = pk
    });

  });
</script>
{% endblock javascript %}
