{% extends "base/nav.html" %}
{% load static %}
{% block link %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock link %}
{% block content %}
  <div class="container title-container">
    <h2>MetaMundo - Online</h3>
    <h5>Cristobal Jodorowsky</h5>
  </div>      
  <div class="container">
    <div class="row">
      <div class="section col-md-3 col-sm-6">
        <div class="img-cont">          
          <a href="{% url 'catalog:block' 'Introduccion' %}">
            <img class="img-bg" src="{% static 'images/logo-meta.png' %}" alt="">
            Introduccion
          </a>
        </div>
      </div>
      <div class="section col-md-3 col-sm-6">
        <div class="img-cont">
          <a href="{% url 'catalog:block' 'Tarot' %}">
            <img class="img-bg" src="{% static 'images/psicoteatro_front.jpg' %}" alt="">
            Tarot
          </a>
        </div>
      </div>
      <div class="section col-md-3 col-sm-6">
        <div class="img-cont">
          <a href="{% url 'catalog:block' 'Metagenealogia' %}">
            <img class="img-bg" src="{% static 'images/psicomagia_front.jpg' %}" alt="">
            Metagenealogia
          </a>          
          </a>
        </div>
      </div>
      <div class="section col-md-3 col-sm-6">
        <div class="img-cont">
          <a href="{% url 'catalog:block' 'Psicochamanismo' %}">
            <img class="img-bg" src="{% static 'images/psicochamanismo_front.jpg' %}" alt="">
            Psicochamanismo
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
{% block javascript %}
<script type="text/javascript">
  $(document).on('ready', function () {
    $(".regular").slick({
      
    });

    $(".b1").on("click",function(e){
      var pk = $(this).children('.content').attr('id');
      window.location = pk
    });

  });
</script>
{% endblock javascript %}
