{% extends 'base/nav.html'%}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/templates/images.css' %}">
{% endblock link %}

{% block content %}
    {% if not docs %}
    <div class="noImg">
      <h3>Esta galeria no cuenta con imagenes por el momento</h3>        
    </div>
    {% endif %}
    <div class="container-fluid content">
      <div class="col-12">
        <div class="video">          
          <div class="row">
            {% for doc in docs %}                
              {% if doc.kind == 'IMG' %}
              <div class="card" style="width: 10rem;">
                <a href="{{doc.link}}">
                  <img class="sImg" src="{{doc.link}}" alt="No img" width="100%">
                </a>
                <div class="card-body">
                  <p class="card-title">{{doc.name}}<p>            
                </div>
              </div>                
              {% endif %}                                       
            {% endfor %}                                         
          </div>
        </div>        
      </div>      
    </div>
{% endblock content %}
{% block javascript %}


{% endblock javascript %}
