{% extends 'base/nav_search.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blocks.css' %}">
{% endblock link %}

{% block content %}

<div class="container" id='main'>
  <div class="row">
    {% for doc in docs %}
    <div class="col-md-3">
      <div class="card b1">
        <div id="{% url "catalog:docs" doc.pk %}" class="container content">
          <h4>{{ doc.name }}</h4>
        </div>
      </div>
    </div>
    {% endfor%}
  </div>
</div>

{% endblock content %}
{% block javascript %}
<script type="text/javascript" charset="utf-8" defer>

$(document).ready(function() {

  $(".b1").on("click",function(e){
    var pk = $(this).children('.content').attr('id');
    window.location = pk
  });


});
</script>


{% endblock javascript %}
