{% extends 'base/nav.html' %}
{% load static %}
{% block link %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/templates/videos.css' %}">
{% endblock link %}
{% block content %}    
    
    {% if s_vid == "false" %}
    <div class="noVideos">
      <h3>Esta seccion no cuenta con videos por el momento</h3>        
    </div>
    {% else %}    
    <div class="container block_content">        
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9">

                <div class="col-12">
                    <h4><b>{{ s_vid.name }}</b></h4>
                </div>                            
                <div class="video-cont">
                    <video width="100%" controls autoplay controlsList="nodownload">
                        <source src="{{ s_vid.link }}" type="video/mp4">
                    </video>
                </div>                
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="col-12">
                    <h4><b>Videos</b></h4>                
                </div>
                <div class="sli col-md-12">
                    <div class="row">
                        {% for vid in videos %}     
                        <div class="vid_ele col-4 col-lg-12" id="{% url 'catalog:videos' title vid.pk %}">
                            <a href="{% url 'catalog:videos' title vid.pk %}">
                                <img class="img-sld" src="{{vid.image}}">
                            </a>
                        {% if  vid == s_vid %}
                            <div class="vid-title vid-active" id="no-{{forloop.counter0}}">
                        {% else %}
                            <div class="vid-title" id="no-{{forloop.counter0}}">                                
                        {% endif %}                                                                      
                                <h6>{{ vid.name }}</h6>
                            </div>
                        </div>                                                  
                        {% endfor %}                                    
                    </div>
                </div>                          
            </div>
            <div class="col-9">  
                <button id="prevBtn" class="btn btn-primary">Video Anterior</button>
                <button id="nextBtn" class="offset-8 btn btn-primary">Siguiente Video</button>                
            </div>            
        </div>              
    </div>    
    <div class="container contIMG">
        {% if docs|length >= 1 %}
            <h3>Imagenes</h3>
            <div class="slider-img">  
                {% for doc in docs %} 
                {% if doc.kind == 'IMG' %}  
                <div class="dImg">                                            
                    <button type="button" class="btn modalIMG-btn" data-toggle="modal" data-target="#imageModal">
                                          <img src="{{doc.link}}" alt="No img" width="150px" id="{{doc.name}}">
                    </button>
                </div>          
                {% endif %} 
                {% endfor %}
            </div>    
        {% endif %}          
    </div>
    <div class="container contIMG">
        {% if docs|length >= 1 %}
            <h3>PDF</h3>
            <div class="slider-img">
                {% for doc in docs %} {% if doc.kind == 'PDF' %}
                <div class="dImg">
                    <button type="button" class="btn modalPDF-btn" data-toggle="modal" data-target="#pdfModal">
                        <img src="{% static 'images/pdf_logo.png' %}" alt="No img" width="150px" id="{{doc.link}}">
                    </button>                    
                    <h6>{{doc.name}}</h6>
                </div>
                {% endif %} {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="container contIMG">
        {% if docs|length >= 1 %}
            <h3>Documentos</h3>
            <div class="slider-img">
                {% for doc in docs %} 
                {% if doc.kind == 'WRD' %}
                <div class="dImg">
                    <a href="{{doc.link}}" "email me">
                        <img src="{% static 'images/hw_logo.png' %}" alt="No img" width="150px">
                        <h6>{{doc.name}}</h6>                                                
                    </a>                    
                </div>
                {% endif %} 
                {% endfor %}
            </div>
        {% endif %}
    </div>    
    {% endif %}

<!-- PDF Modal -->
<div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pdfModalTitle" id="pdfModalLabel"> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <embed id="modalPDF" src="" alt="No Image">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                        
      </div>
    </div>
  </div>
</div>

<!-- Image Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title imgModalTitle" id="imageModalLabel"> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="modalImage" src="" alt="No Image" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a id="downloadIMG" download>Descargar</a>
        <!-- <button type="button"  class="btn btn-primary">Descargar</button>                                         -->
      </div>
    </div>
  </div>
</div>
    
{% endblock content %}
{% block javascript %}

<script type="text/javascript">
    $('.modalIMG-btn').click(function(){        
        //Cambiar titulo del modal
        $('.imgModalTitle').text($(this).children('img').attr('id'));
        //Cambiar imagen del modal
        $('#modalImage').attr('src',$(this).children('img').attr('src'));
        //Descargar Archivo
        $('#downloadIMG').attr('href',$(this).children('img').attr('src'));        
    });

    $('.modalPDF-btn').click(function(){        
        //Cambiar titulo del modal
        $('.pdfModalTitle').text($(this).parent().children('h6').text());
        //Cambiar pdf del modal
        $('#modalPDF').attr('src',$(this).children('img').attr('id'));
        //Agregar atribute hred en boton de descarga del modal       
        
    });

    $('.sli').animate({
        scrollTop: $(".vid-active").parent().offset().top -150
    }, 2000);

    checkForPrevVideo();
    checkForNextVideo();

    function checkForPrevVideo(){
        var btn = $('#prevBtn');
        var id = getCurrentVideo();
        var number = id.split('-')[1];
        var prevNumber = Number(number) - Number(1);
        var number_prevVideo = id.split('-')[0]+"-"+prevNumber;

        if (number == 0){
            btn.hide();
            $('#nextBtn').attr('class','offset-10 col-2 btn btn-primary');
        }        

        btn.click(function(e){
            var referencia = $("#"+number_prevVideo).parent().children('a').attr('href');
            window.location.href = referencia;
        });
    }

    function checkForNextVideo(){
        var btn = $('#nextBtn');
        var id = getCurrentVideo();
        var number = id.split('-')[1];
        var nextNumber = Number(number) + Number(1);
        var number_nextVideo = id.split('-')[0]+"-"+nextNumber;

        if(!$("#"+number_nextVideo).length){
            btn.hide();            
        }

        btn.click(function(e){
            var referencia = $("#"+number_nextVideo).parent().children('a').attr('href');
            window.location.href = referencia;
        });

    }

    function getCurrentVideo(){
        var current_video_number = $('.vid-active').attr('id');
        return current_video_number;
    };

</script>
  
{% endblock javascript %}