{% extends "base/nav.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/videos.css' %}">
{% endblock link%}

{% block content%}
<div class="container-fluid container">
    {% for cat in category %}
    <div class="row-cat">
      <div class="row row-vid">
        <div class="title">
          <h4>{{cat.name}}:  {{cat.title}}</h4>
        </div>
      </div>
      <div class="row slide-elements">
        {% for video in videos %}
        {% if video.category == cat %}
          <div id="{% url "catalog:vid" video.pk %}" class="content">
            <div class="element">
              <img class="video-img" src="{% static 'images/video.jpg' %}" alt="">
            </div>
            <h5>{{ video.name }}</h5>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
</div>
{%endblock content%}

{% block javascript %}
<script type="text/javascript" charset="utf-8" defer>

$(document).ready(function() {

  $(".slide-elements").slick({
    infinite: true,
    slidesToShow: 8,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 5000,
    arrows: false,
    responsive: [
    {
      breakpoint: 1024,
      settings: {
        infinite: true,
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 5000,
      }
    },
    {
      breakpoint: 600,
      settings: {
        infinite: true,
        slidesToShow: 5,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 5000,
      }
    },
    {
      breakpoint: 480,
      settings: {
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 5000,
      }
    }
  ]
  });

  $(".element").on("click",function(e){
    var pk = $(this).parent().attr('id');
    window.location = pk
  });


});
</script>


{% endblock javascript %}
