{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Title and Metas -->
	<title> {{ title }} </title>
	
  <meta charset="utf-8">	
  <!-- Font Styles and Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300|Open+Sans:300,400" rel="stylesheet">  
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">

	<!-- Icon font styles -->


    {% block link %}
    {% endblock link %}

</head>
<body>
	{% block nav %}
  {% endblock nav%}
	<main>
		{% block content %}
		{% endblock content %}
	</main>				
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src="{% static 'javascript/jquery-3.3.1.js'%}"></script>		
	<script src="{% static 'javascript/bootstrap.js'%}"></script>

	{% block javascript %}
	{% endblock javascript %}

</body>
</html>
