{% extends 'base/base.html' %}
{% load static %}
{% block nav %}
<!-- First NavBar -->
<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center" id="navBar1">
    <p href="/" class="navbar-brand d-flex w-50 mr-auto name-a">METAMUNDO ONLINE</p>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">
                <p class="name-b">De Cristobal Jodorowsky</p>
            </li>
        </ul>
        <div class="share">
          <a class="h2"href="https://www.facebook.com/cristobal.jodorowsky" target="_blank"><i id="facebook" class="text-center fab fa-facebook-square"></i></a>
          <a class="h2"href="https://www.instagram.com/explore/tags/cristobaljodorowsky/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a>
          <a class="h2"href="https://twitter.com/cristobaljod?lang=es" target="_blank"><i class="fab fa-twitter" ></i></a>
          <a class="h2"href="https://www.youtube.com/channel/UCb3iaGZ7ll3Mbt3IvMYbqHg" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</nav>

<!-- -->
<nav class="navbar navbar-dark navbar-expand-md bg-faded justify-content-center" id="navBar2">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar2">
        <ul class="navbar-nav w-100 justify-content-center">
            {% if request.user.subscriber.grade == 'TAR'  %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'catalog:block' category.0.name %}">Introduccion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'catalog:block' category.1.name %}">Tarot</a>
              </li>
            {% endif %}
            {% if request.user.subscriber.grade == 'MET'  %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'catalog:block' category.0.name %}">Introduccion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'catalog:block' category.1.name %}">Tarot</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'catalog:block' category.2.name %}">Matagenealogia</a>
              </li>
            {% endif %}
            {% if request.user.subscriber.grade == 'PSI'  %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'catalog:block' category.0.name %}">Introduccion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'catalog:block' category.1.name %}">Tarot</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'catalog:block' category.2.name %}">Matagenealogia</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'catalog:block' category.3.name %}">Psicomagia</a>
              </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
              {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'register:logout'%}">Cerrar Sesion</a>
              {% else %}
                <a class="nav-link" href="{% url 'register:login'%}">Iniciar Sesion</a>
              {% endif %}
            </li>
        </ul>
    </div>
</nav>

{% endblock nav %}
