{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tarot</title>
      <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      --><!--styles.css-->
      <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
      <div class="container-fluid" id="Tarot">
      <header>
				<h1 class="site-title"><a href="#" rel="home"><span class="title-caps">C</span>ristóbal <span class="title-caps">J</span>odorowsky</a></h1>
        <div class="nav-content">
          <div class="nav-containier">
            <a href="{% url 'tarot:news_tarot' %}">Últimas Respuestas</a>
            <a href="{% url 'tarot:start_tarot' %}">Tarot</a>
            <a href="{% url 'tarot:admin_tarot' %}">Dar videorespuesta</a>
          </div>
        </div>
      </header>
      <div class="tarot-container text-center">
            <h1>Elija 3 cartas</h1>
          <div id="tarot-cards" class="row justify-content-center text-center">
            {% for card in cards %}
            <div id='{{ card.number }}'>
              <h1 class="card-title">{{ card.name }}</h1>
              <p class="card-description align-text-bottom">{{ card.description }}</p>
            </div>
            {% endfor %}
          </div>
          <div  class="col-md-4 position-absolute"><h2 class="Reintentar mano" id="return" onClick="window.location.reload()"></h2></div>
            <div class="row"  id="tarot-layout">
                    <div  class="col-md-4 col-sm-4 "></div>
                    <div  class="col-md-4 col-sm-4 "></div>
                    <div  class="col-md-4 col-sm-4 "></div>
            </div>
          </div>


          </div>
          <div class="form-group row justify-content-center" id="form-tarot">
            <div class="col-6">
            <h4>Si quieres saber más llena el siguiente formulario, Cristobal te responderá en un video</h4>
            <form class="" action="" method="post">
             <h5 for="" class="">Nombre</h5>
               <input type="text" class="form-control form-control-lg" name="nombre">
            <div class="form-group">
             <h5 for="nota">Escribe lo que te gustaría saber </h5>
             <textarea class="form-control" name="nota" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-danger" name="button">Enviar</button>
            </form>
            </div>
            <footer class="">
            	<div class="container">
            		<div class="text-center">
            			<span>Copyright © Cristobal Jodorowsky 2018	| Tema: Cristobal por  <a href="http://www.digimundo.com.mx/">Digimundo Technologies © </a></span>
            		</div>
            	</div>
            </footer>
          </div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <!--font awesome -->
          <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
          <script src="{% static 'javascript/mootools-yui-compressed.js' %}"></script>
          <script>var urltarot = "{% url 'tarot:start_tarot' %}"</script>
          <script src="{% static 'javascript/main.js' %}"></script>
    </body>
</html>
