{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tarot</title>
      <!--styles.css-->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body id="tarot-page">
      <div id="movil"></div>
      <div class="container-fluid" id="Tarot">
      <header>
        <div class="site-branding">
          <button id="show-menu" class="menu-boton"><a href="http://www.faceboook.com" class="dropbtn icon-container fas fa-bars"></a></button>
          <h1 class="site-title text-left"><a href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/" rel="home"><span class="title-caps">C</span>ristóbal <span class="title-caps">J</span>odorowsky</a></h1>
          <div id="social" class="mr-3">
            <nav>
              <ul>
                <li><a href="http://www.instagram.com" style="font-size: 36px;" target="_blank" title="" class="fab fa-instagram" aria-hidden="true"></a></li>
                <li><a href="" style="font-size: 36px;" target="_blank" title="" class="fab fa-facebook-square" aria-hidden="true"></a></li>
                <li><a href="" style="font-size: 36px;" target="_blank" title="" class="fab fa-twitter" aria-hidden="true"></a></li>
                <li><a href="" style="font-size: 36px;" target="_blank" title="" class="fab fa-youtube" aria-hidden="true"></a></li>
              </ul>
            </nav>
          </div>
          	<img class="brand-logo img-fluid" src="{% static 'images/logo.png' %}" alt="Community logo">
        </div>
        <div class="nav-content">
          <div class="nav-containier">
            <a href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/">Inicio</a>
            <a href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/biografia">Biografía</a>
            <a href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/saber-mas">Saber más</a>
            <a href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/libros">Libros</a>
            <a href="{% url 'tarot:start_tarot' %}">Tarot</a>
            <a href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/agenda">Agenda</a>
            <a href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/contacto">Contacto</a>
            <a id="metamundo" href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/metamundo">Metamundo</a>
            <!--<a href="{% url 'tarot:news_tarot' %}">Últimas Respuestas</a>
            <a href="{% url 'tarot:admin_tarot' %}">Dar videorespuesta</a>-->
          </div>
        </div>
          <div id="navigation" class="">
            <span id="close" class="text-right"><i class="fas fa-times"></i></span>
            <h1 class="site-title text-center mt-5"><a href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/" rel="home"><span class="title-caps">C</span>ristóbal <span class="title-caps">J</span>odorowsky</a></h1>
            <img src="{% static 'images/movil-menu.jpeg'%}" class="img-fluid" alt="">
            <!--<img id="logo-menu" class="img-fluid rounded mx-auto d-block" src="statics/images/CloudKitchen_white.png" alt="Cloud Kitchen LOGO">-->
            <a href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/"><i class="fas fa-home mr-4"></i>  Inicio</a>
            <a href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/biografia"><i class="fas fa-user-circle mr-4"></i> Biografía</a>
            <a href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/saber-mas"><i class="fas fa-question-circle mr-4"></i> Saber más</a>
            <a href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/libros"><i class="fas fa-book mr-4"></i>  Libros</a>
            <a href="{% url 'tarot:start_tarot' %}"><i class="fab fa-accusoft mr-4"></i> Tarot</a>
            <a href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/agenda"><i class="fas fa-calendar-alt mr-4"></i> Agenda</a>
            <a href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/contacto"><i class="fas fa-comments mr4"></i> Contacto</a>
            <a href="http://ec2-52-34-233-203.us-west-2.compute.amazonaws.com/Cristobal/metamundo"><i class="fas fa-globe mr-4"></i> Metamundo</a>
            <div class="share">
              <a href="https://www.facebook.com"><i id="facebook" class="text-center fab fa-facebook-square"></i></a>
              <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
              <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
              <a href="http://www.youtube.com"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
      </header>
      <div class="container tarot-description mt-4">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel dolor a nunc maximus viverra quis non ex.
          Nulla laoreet, nisl vel scelerisque pretium, leo arcu faucibus lectus, nec pharetra odio lectus a turpis.</p>
          <h1 class="text-center">Elija 3 cartas</h1>
      </div>

      <div  class="col-md-12 mt-5 text-center mt-4"><h2 class="Reintentar mano" id="return" onClick="window.location.reload()"><i class="fas fa-sync-alt"></i></h2></div>
      <div class="tarot-container text-center">

          <div id="tarot-cards" class="row justify-content-center text-center">
            {% for card in cards %}
            <div id='{{ card.number }}'>
              <h1 class="card-title">{{ card.name }}</h1>
              <p class="card-description align-text-bottom">{{ card.description }}</p>
            </div>
            {% endfor %}
          </div>
          <div class="row"  id="tarot-layout">
                    <div  class="col-md-4 col-sm-4 "></div>
                    <div  class="col-md-4 col-sm-4 "></div>
                    <div  class="col-md-4 col-sm-4 "></div>
            </div>
          </div>
          </div>

          <div id="time"></div>
          <div class="form-group row justify-content-center" id="form-tarot">
            <div class="col-6">
            <h4>Si quieres saber más llena el siguiente formulario, Cristobal te responderá en un video</h4>
            <form class="" action="" method="post">
                {% csrf_token %}
             <h5 for="" class="">Nombre</h5>
               <input type="text" class="form-control form-control-lg" name="nombre">
            <div class="form-group">
             <h5 for="nota">Escribe lo que te gustaría saber </h5>
             <textarea class="form-control" name="nota" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-danger" name="button">Enviar</button>
            </form>
            </div>
            <footer class="">
            	<div class="container">
            		<div class="text-center">
            			<span>Copyright © Cristobal Jodorowsky 2018	| Tema: Cristobal por  <a href="http://www.digimundo.com.mx/">Digimundo Technologies © </a></span>
            		</div>
            	</div>
            </footer>
          </div>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <!--font awesome -->
          <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
          <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
          <script src="{% static 'javascript/mootools-yui-compressed.js' %}"></script>
          <script>var urltarot = "{% url 'tarot:start_tarot' %}"</script>
          <script src="{% static 'javascript/main.js' %}"></script>
    </body>
</html>

<script type="text/javascript">

  var hoy = new Date(),
  dia = hoy.getDay();
  hora = hoy.getHours();
  minutos = hoy.getMinutes();

  restan = 12 - hora;
  console.log(dia);
  console.log(hora +":" + minutos);
  /*LUNES A LAS 12 pm*/
  if (hora == 12 && dia == 1) {
    console.log("Felicidades Cristobal respondera a tu Consulta")
  }
  else {
    console.log("Aún no es tiempo para poder ganar una de las 5 respuestas de Cristobal" + restan);
  }

  const getRmainTime = deadline => {
    let now = new Date(),
      remainTime = (new Date(deadline) - now + 1000) / 1000,
      remainSeconds = ( '0' + Math.floor(remainTime % 60)).slice(-2),
      remainMinutes = ( '0' + Math.floor(remainTime / 60 % 60)).slice(-2),
      remainHours = ( '0' + Math.floor(remainTime / 3600 % 24)).slice(-2),
      remainDays = Math.floor(remainTime / (3600 * 24));

    return {
      remainTime,
      remainSeconds,
      remainMinutes,
      remainHours,
      remainDays
    }
  };

  const countdown = (deadline, elem , finalMessage) => {
    const el = document.getElementById(elem);

    const timerUpdate = setInterval( () => {
      let t = getRmainTime(deadline);
      el.innerHTML = t.remainDays+"d" + ":" + t.remainHours + "h" + ":" + t.remainMinutes + "m" + ":" + t.remainSeconds + "s";

      if (t.remainTime <= 1) {
        clearInterval(timerUpdate);
        el.innerHTML = finalMessage;
      }
    }, 1000)
  };

  countdown('Mon May 07 2018 12:00:00 GMT-0500', 'time', 'Puedes realizar tu consulta con Cristobal');


</script>
