/* Main-card */
.main-card{
  margin-top: 2vh;
}

.vid-sect, .doc-sect{
  min-height: 0px;
  max-height: 35vh;
  overflow-y: auto;
}

.vid-title, .doc-title{

  margin: 5px;
}

.content-title{
  text-align: center;
}

.vid-ele, .doc-ele{
  font-size: 14px;
}
