.img-sld{
  margin: auto;
}

h3{
  font-size: 2vh;
  text-align: center;
}

img{ 
  
}
 
.line{
	margin-top: 30px;
}

.blue{
  background: rgba(0, 0, 0, 0.575);
}

.card{
  margin:10px;
  padding: 7px 7px 0px 7px;
  box-shadow: 5px 10px #888888;
  margin-top: 10px;
  transition: margin-top 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover{
  box-shadow: 1px 1px #888888;
  margin-top: 20px;
  transition: margin-top 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

.card-title{
  font-size: 13px;
}