.title-container{
  margin-top: 14px; 
  text-align: center;
  color: white;
} 

.section{
  height: 70vh;
  margin-top: 40px;
  padding-left: 30px; 
  padding-right: 30px;    
  border-radius: 20%; 
  overflow: hidden;  
  transition: transform 0.6s ease-in-out;  
}

.section:hover .img-cont{
  transform: scale(1.05);  
  transition: transform 0.6s ease-in-out;  
}

.img-bg{  
  height:100%;    
  overflow: hidden;  
} 

.img-cont{  
  height: 100%;  
  overflow: hidden;
  text-align: center;
  font-size: 25px;  
}

.title_block{
  margin: auto;  
  text-align: center;
  position: relative;
  bottom: 70px;
  color: #0E2430;  
  background: bisque;
}



/* body{      
  background: #E8D5B9;
}

img{    
  height: 100%;
}

.title-container{
  margin-top: 14px; 
  text-align: center;
  color: #0E2430;
} 

.carousel-caption > h3 {
  font-weight: bold;
  color: #0E2430;
} */




