body {
  margin: 2% 3.5%;
  margin-bottom: 0;
}

.section:hover .img-cont{
  transform: scale(1.05);
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.32), 0 12px 40px 0 rgba(0, 0, 0, 0.319);
}

@font-face {
  font-family: acpRegular;
  src: url(../fonts/ACaslonPro-Regular.otf);
}

@font-face {
  font-family: acpBold;
  src: url(../fonts/ACaslonPro-Bold.otf);
}

body{
  font-family: myFirstFont;
}
#social {
    display: inline-flex;
    position: relative;

  }
  #social ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #social li {
    display: inline-flex;
    font-size: 17pt;
    margin: 0 5px;
  }

#social a:hover {
  color: #154FCF !important;
  cursor: pointer !important;
}

.fa-instagram{
  color: #D13EB6 !important;
}
.fab:hover {
  cursor: pointer !important;
}
.fa-facebook-square{
  color: 	#3b5998 !important;
}
.fa-twitter {
  color: #00aced !important;
}
.fa-youtube {
  color: #c4302b;
}
.share {
  width: 300px;
  letter-spacing: .45em;
  padding-top: .5em;
  text-align: right;
}

img{
  height: 93%;
}

.img-cont{
  height: 500px;
  text-align: center;
  overflow: hidden;
  padding-bottom: 1.5em;
}
.img-bg {
  position: relative;
  display: block;
  opacity: .8;
}
a{
  color: white;

}
a:hover {
  text-decoration: none !important;
}
a:hover .img-cont{
  color: white;
}

.cont{
  padding: 60px;
}

.title_block{
  padding: 10px;
  color: #FFF;
  text-decoration: none;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  #arbol {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding: 0 !important;
    margin-bottom: 2em;
  }
  #arbol {
    width: 100%;
  }
}
