@import "home.css";
.noImg{
	text-align: center;
	margin-top: 20%;
}

.content{
  margin-top: 4vh;
}

.card{
  margin:10px;
  padding: 7px 7px 0px 7px;
  box-shadow: 5px 10px #888888;
  margin-top: 10px;
  transition: margin-top 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover{
  box-shadow: 1px 1px #888888;
  margin-top: 20px;
  transition: margin-top 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

.card-title{
  font-size: 13px;
}
