@import "home.css";
main {
	margin-bottom: 2em;
}
.noVideos{
	text-align: center;
	margin-top: 20%;
}

.block_content{
	margin-top: 20px;
}

.sli{
	overflow-y: scroll;
	height: 460px;
}

@media only screen and (max-width: 1200px) {
    .sli{
		height: 420px;
	}
}

@media only screen and (max-width: 990px) {
    .sli{
		height: 190px;
	}
}

.img-sld{
	width:100%;
}

.titles{
	margin-top: 3vh;
}

.contIMG{
	text-align: center;
}

.vid-title{
	padding: 8px;
	background-color: #BE0211;
	color: white;
	margin-bottom: 5px;
}

.vid-active{
	background-color: orange;
}

.slider-img{
	display: block;
	overflow-x: scroll;
	white-space: nowrap;
}

.dImg{
	display: inline-block;
	margin-right: 35px;
}

#modalPDF{
	height: 70vh;
	width: 100%;
}
