.block_content{	
	display: block;
}

.sli{	
	overflow: scroll;	
	height: 26vw;
}

.img-sld{	
	width:100%;
}

.titles{
	margin-top: 3vh;
}

.contIMG{
	text-align: center;
}

.vid-title{
	padding: 8px;	
	background-color: #BE0211;
	color: white;
	margin-bottom: 5px;		
}

.slider-img{	
	display: block;
	overflow-x: scroll;
	white-space: nowrap;	
}

.dImg{			
	display: inline-block;
	margin-right: 35px;
}





